/*-----------------------------------------------------------
        INDEX CSS
        1- Loading
        2- Checkbox
        3- Login Section
            I- Sign InSection
            II- Sign Up Section
            III- Welcome Section
--------------------------------------------------------------*/

body
{
    background-color: #24353f;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.loginSection
{
    position: relative;
    width: 60%;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    margin-top: 10vh;
}
.loginSection h1
{
    color: #17a2b8;
    margin-bottom: 20px;
    font-size: 2.6rem;
}
.loginSection h3
{
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3.7rem;
    color: rgba(255,255,255,.1);
}
span,a{
    font-size: 1.2rem;
}
#signInSection,
#signUpSection
{
    border-radius: 5px;
}
input[type=text],input[type=password],input[type=email]
{
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    background: transparent;
    outline: none;
    border-radius: 0;
    color: #fff;
    font-weight: bold;
}

p {
    color: red;
    font-size: 0.9rem;
}
a{
    text-decoration: none;
}
.group,
.group-loginSection
{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    color: white;
}
.group
{
    position: absolute;
    top: 0;
    left: 5%;
}
.group-loginSection
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}
#logoutBtn:hover
{
    color: white;
}
#logoutBtn
{
    color: rgba(255,255,255,.5);
    border: none !important;
}


body{
    margin: 0;
    padding: 0;
    background: #34495e;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "montserrat",sans-serif;
}

.loading-bg
{
    position: fixed;
    z-index: 999999;
    width: 100%;
    height: 100vh;
    background: #102626;
}

.loading{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #0d2323;
    top: 40%;
    left: 45%;
    transform: translateX(-45%);
    animation: loading 3s linear infinite;
}

.loading::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:50%;
    height:100%;
    background: linear-gradient(to top, transparent, rgba(0, 255 , 249,0.4));
    background-size: 100px 180px;
    background-repeat: no-repeat;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.loading::after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background: #00fff9;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 10px #00fff9,
                0 0 20px #00fff9,
                0 0 30px #00fff9,
                0 0 40px #00fff9,
                0 0 50px #00fff9,
                0 0 60px #00fff9,
                0 0 70px #00fff9,
                0 0 80px #00fff9,
                0 0 90px #00fff9,
                0 0 100px #00fff9
}

.loading span{
     position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #102626;
    border-radius: 50%;
}

@keyframes loading {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

body.dark {
    /*background: #292C35;*/
    width: 100%;
    height: 100vh;
    background-image: url("../images/background-anim.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-checkbox
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 99vh;
    margin: 0;
    transition: background 0.2s linear;
    position: absolute;
    top: -45%;
    right: 4%;
}


.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}


.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

@media only screen and (max-width: 576px){

    .loginSection h1
    {
        font-size: 1.4rem;
    }
    .loginSection h3
    {
        position: absolute;
        top: 11%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.5rem;
    }
    span, a {
        font-size: .8rem;
    }
    .loading{
        position: relative;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        background: #0d2323;
        top: 40%;
        left: 35%;
        transform: translateX(-35%);
        animation: loading 3s linear infinite;
    }
}

@media only screen and (max-width: 768px){

    .loginSection h1
    {
        font-size: 1.5rem;
    }
    .loginSection h3
    {
        position: absolute;
        top: 11%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.7rem;
    }
    span, a {
        font-size: 0.9rem;
    }
    .loading{
        position: relative;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background: #0d2323;
        top: 40%;
        left: 40%;
        transform: translateX(-40%);
        animation: loading 3s linear infinite;
    }
}